<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="container-center">
            <div class="event-heading">
                <h3 class="dis-in-bl">About Us</h3>
            </div>
            <div class="m-60">
                <h2><b>Welcome to Gamedigger</b></h2>
                <p>Gamedigger is a online platform to find and retrive infornmation about your old games and connect to new exciting servers. Our system enables you to get A-z infornmation on your game.<br> 
                    Gamers can view and post new iteration to there games and in the discussion form they can share new mods and skins for the games or post any new online server event for the games. GameDigger enables you to feel nostalgic and relive your gamess !</p>

               </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
