<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="container-center">
            <div class="event-heading">
                <h3 class="dis-in-bl">Contact</h3>
            </div>
            <div class="m-60">
                <h3>Location</h3>
                <p>9548 B university terrace drive, NC 28262</p>

                <h3>Our call-time hours(MTWTHF)</h3>
                <p>10:00 AM – 4:00 PM EST</p>
                <p>In person meet only by appointment</p>
                <h3>Contact us</h3>
                <p>Phone: (980) 267 8820</p>
                <p>Email: dpate172@uncc.edu</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
